ion-tabs{
    background: var(--ion-color-dark);
    ion-tab-bar{
        background: var(--ion-color-dark);
        ion-tab-button{
            background: var(--ion-color-dark);
            --color-selected: var(--ion-color-primary);
        }
    }
}
