<ion-toolbar *ngIf="!showSpinner">
  <ion-segment color="dark" [(ngModel)]="selected">
    <ion-segment-button value="todos" (click)="MostrarTodo()">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="misreportes" (click)="MostrarMisReportes()">
      <ion-label>Mis reportes</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <img
    *ngIf="showSpinner"
    src="../../../assets/rv-spinner.gif "
    alt=""
    style="display: flex; margin: 0 auto; margin-top: 50%;"
  />
  <div *ngIf="!showSpinner">
    <ion-card *ngFor="let item of displayReports">
      <img
        class="type-report"
        [src]=" item.type == 1 ? '../../../assets/images/thumb-up-svg.svg' : '../../../assets/images/thumb-down-svg.svg'"
        alt=""
      />
      <img [src]="item.url" />
      <ion-card-header>
        <ion-card-subtitle
          >{{item.fecha | date:'dd/MM hh:mm a'}}</ion-card-subtitle
        >
        <ion-card-title
          >A {{item.name}} {{item.type == 1 ? 'le gusto.' : 'no le
          gusto.'}}</ion-card-title
        >
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col
            (click)=" !item.hasVoted ? saveLike(item.doc_id,item.reaccion.likes) : false"
          >
            <img
              src="../../../assets/images/thumb-up-svg.svg"
              alt=""
              [ngClass]="{'disabledIcon': !item.hasVoted}"
            />
            <small>Me gusta</small>
            <ion-badge color="primary">{{item.reaccion.likes}}</ion-badge>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
